<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Create Product</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/products/createProduct}" enctype="multipart/form-data" method="post" th:object="${product}">
    <h4>Create product</h4>
    <div class="row mb-5">
      <label for="title" class="col-sm-2 col-form-label">Title:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="title" th:field="*{title}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('title')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <label for="description" class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="description" th:field="*{description}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('description')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <label for="image" class="col-sm-2 col-form-label">Image:</label>
      <div class="col-sm-2">
        <input type="file" class="form-control" id="image" th:value="*{image}" name="image">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('image')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <label for="quantity" class="col-sm-2 col-form-label">Quantity:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="quantity" th:field="*{quantity}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('quantity')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <label for="price" class="col-sm-2 col-form-label">Price:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="price" th:field="*{price}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('price')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>
</body>
</html>