<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/customers/createCustomer}" method="post" th:object="${customer}">
    <h4>Registration</h4>
    <div class="row mb-5">
      <label for="firstName" class="col-sm-2 col-form-label">First name:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('firstName')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <label for="lastName" class="col-sm-2 col-form-label">Last name:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('lastName')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <label for="email" class="col-sm-2 col-form-label">First name:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="email" th:field="*{email}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('email')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="phone" th:field="*{phone}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('phone')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <label for="password" class="col-sm-2 col-form-label">Password:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="password" th:field="*{password}">
        <div th:if="${bindingResult}">
          <div th:if="${e}" th:each="e : ${bindingResult.getFieldErrors('password')}" th:text="${e.getDefaultMessage()}"  class="text-danger"></div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>
</body>
</html>