<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Customer</title>
</head>
<body>
<div layout:fragment="content">
  <h4>Customer</h4>
  <div class="row mb-5">
    <label for="firstName" class="col-sm-2 col-form-label">First name:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="firstName"
             th:placeholder="${customer.firstName}"
             disabled>
    </div>
  </div>
  <div class="row mb-5">
    <label for="lastName" class="col-sm-2 col-form-label">Last name:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="lastName"
             th:placeholder="${customer.lastName}"
             disabled>
    </div>
  </div>

  <div class="row mb-5">
    <label for="email" class="col-sm-2 col-form-label">Email: </label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="email"
             th:placeholder="${customer.lastName}"
             disabled>
    </div>
  </div>

  <div class="row mb-5">
    <label for="phone" class="col-sm-2 col-form-label">Phone: </label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="phone"
             th:placeholder="${customer.phone}"
             disabled>
    </div>
  </div>

  <div class="btn-group mt-2">
      <a class="btn btn-primary p-lg"
         th:href="@{/customers/{customerId}/update(customerId=${customer.id})}"
         role="button">Update</a>
      <form th:action="@{/customers/{customerId}/delete(customerId=${customer.id})}" method="post">
        <button type="submit" class="btn btn-primary btn-danger ms-3">Remove</button>
      </form>
  </div>
</div>
</body>
</html>